.stats {
  padding-top: 150px;
  padding-bottom: 100px;
  @include narrow {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    margin-left: -10px;
    margin-right: -10px;
    li {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      min-height: 160px;
      margin: 10px 10px 10px;
      background: darken($background, 2);
      border-radius: 2px;
      padding: 24px 24px 24px 50px;
      overflow: hidden;
      @include narrow {
        justify-content: flex-start;
        padding: 16px 16px 16px 24px;
      }
      h3 {
        color: $brand-pink;
        font-family: $title-font;
        font-size: 5rem;
        @include narrow {
          font-size: 4rem;
        }
      }
      .icon-stat {
        position: absolute;
        right: 10px;
        height: 200px;
        width: 200px;
        opacity: 0.03;
      }
      .apple {
        background: url("/img/logo-apple.svg") no-repeat center center;
        background-size: contain;
      }
      .bafta {
        background: url("/img/logo-bafta.svg") no-repeat center center;
        background-size: contain;
      }
      .acquisition {
        background: url("/img/logo-codeschool.svg") no-repeat center center;
        background-size: contain;
      }
      .downloads {
        background: url("/img/logo-downloads.svg") no-repeat center center;
        background-size: contain;
      }
      .players {
        background: url("/img/logo-players.svg") no-repeat center center;
        background-size: contain;
      }
      .leagues {
        background: url("/img/logo-leagues.svg") no-repeat center center;
        background-size: contain;
      }
    }
    &.grid-6 li {
      flex: 0 0 calc(33.333% - 20px);
      @include mobile {
        flex: 0 0 calc(50% - 20px);
      }
    }
    &.grid-4 li {
      flex: 0 0 calc(50% - 20px);
    }
  }
  &.outcome {
    padding-top: 0px;
    padding-bottom: 50px;
  }
}
