.clients {
  padding-top: 150px;
  padding-bottom: 150px;
  @include narrow {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    margin-left: -10px;
    margin-right: -10px;
    li {
      display: flex;
      flex: 0 0 calc(25% - 20px);
      align-items: center;
      justify-content: center;
      height: 200px;
      margin: 10px 10px 10px;
      background: darken($background, 3);
      border-radius: 2px;
      opacity: 0.5;
      padding: 50px;
      @include narrow {
        flex: 0 0 calc(33.333% - 20px);
        padding: 10px;
        height: 100px;
        background: $background !important;
        opacity: 1;
      }
      .client {
        width: 100%;
        height: 100%;
      }
      .itv {
        background: url("/img/logo-itv.svg") no-repeat center center;
        background-size: contain;
      }
      .bbc {
        background: url("/img/logo-bbc.svg") no-repeat center center;
        background-size: contain;
      }
      .bmw {
        background: url("/img/logo-bmw.svg") no-repeat center center;
        background-size: contain;
      }
      .nike {
        background: url("/img/logo-nike.svg") no-repeat center center;
        background-size: contain;
      }
      .disney {
        background: url("/img/logo-disney.svg") no-repeat center center;
        background-size: contain;
      }
      .qi {
        background: url("/img/logo-qi.svg") no-repeat center center;
        background-size: contain;
      }
      .pepsi {
        background: url("/img/logo-pepsi.svg") no-repeat center center;
        background-size: contain;
      }
      .workingtitle {
        background: url("/img/logo-workingtitle.png") no-repeat center center;
        background-size: contain;
      }
    }
    &.light li {
      background: darken($background, 2);
    }
  }
}
