.clients {
  padding-top: 150px;
  padding-bottom: 150px;
  ul {
    display: flex;
    flex-flow: row wrap;
    margin-left: -10px;
    margin-right: -10px;
    li {
      display: flex;
      flex: 0 0 calc(25% - 20px);
      align-items: center;
      justify-content: center;
      height: 160px;
      margin: 10px 10px 10px;
      background: darken($brand-blue, 2);
      border-radius: 2px;
      height: 100px;
      opacity: 0.5;
      padding: 20px;
      img {
        height: 100%;
      }
    }
    &.light li {
      background: darken($background, 2);
    }
  }
}
