.contact {
  p,
  a {
    font-size: 2rem;
  }
}

.address-container {
  min-height: 300px;
  .map {
    @include mobile {
      display: none;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
