.contact {
  @include narrow {
    padding-top: 136px;
    padding-bottom: 100px;
  }
  h3 {
    margin-bottom: 10px;
  }
  p,
  a {
    font-size: 2rem;
  }
}

.contact-message {
  height: 80vh;
}

.address {
  .address-container {
    min-height: 300px;
    .details {
      .map-pin {
        height: 35px;
        margin-bottom: 10px;
      }
    }
    .map {
      @include narrow {
        display: none;
      }
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
