footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: darken($background, 2);
  padding: 30px;
  color: $brand-blue;
  @include narrow {
    padding: 20px;
  }
  p {
    color: lighten($brand-blue, 40);
    @include narrow {
      font-size: 12px;
    }
  }
  span {
    @include narrow {
      display: none;
    }
  }
}
