@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@mixin narrow {
  @media (max-width: #{$narrow}) {
    @content;
  }
}
@mixin super-narrow {
  @media (max-width: #{$super-narrow}) {
    @content;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}
@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -ms-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}
@mixin border-image($border-image) {
  -webkit-border-image: $border-image;
  -moz-border-image: $border-image;
  -ms-border-image: $border-image;
  border-image: $border-image;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}
@mixin inline-flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}
@mixin justify-content($values) {
  -webkit-justify-content: $values;
  -moz-justify-content: $values;
  -ms-flex-pack: $values;
  justify-content: $values;
}
@mixin align-items($values) {
  -webkit-align-items: $values;
  -moz-align-items: $values;
  -ms-align-items: $values;
  align-items: $values;
}
@mixin align-self($values) {
  -webkit-align-self: $values;
  -moz-align-self: $values;
  -ms-align-self: $values;
  align-self: $values;
}
@mixin flex-grow($values) {
  -webkit-flex-grow: $values;
  -moz-flex-grow: $values;
  -ms-flex-grow: $values;
  flex-grow: $values;
}
@mixin flex-wrap($values) {
  -webkit-flex-wrap: $values;
  -moz-flex-wrap: $values;
  -ms-flex-wrap: $values;
  flex-wrap: $values;
}
@mixin flex-shrink($values) {
  -webkit-flex-shrink: $values;
  -moz-flex-shrink: $values;
  -ms-flex-shrink: $values;
  flex-shrink: $values;
}
@mixin order($values) {
  -webkit-box-ordinal-group: $values;
  -moz-box-ordinal-group: $values;
  -ms-flex-order: $values;
  -webkit-order: $values;
  order: $values;
}
@mixin flex-basis($values) {
  -webkit-flex-basis: $values;
  -moz-flex-basis: $values;
  -ms-flex-basis: $values;
  flex-basis: $values;
}
@mixin flex-direction($values) {
  -webkit-flex-direction: $values;
  -moz-flex-direction: $values;
  -ms-flex-direction: $values;
  flex-direction: $values;
}
