nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 50px;
  z-index: 101;
  font-size: 1.6rem;
  font-family: $title-font;
  font-weight: 700;
  transition: all 150ms ease-in-out;
  @include narrow {
    padding: 15px 20px;
    background: $brand-blue;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
  }

  &.scroll {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    background: $brand-blue;
    @include narrow {
      background: $brand-blue;
    }
  }
  a {
    border-bottom: none;
    @include narrow {
      font-size: 15px;
      font-weight: 500;
      img {
        display: flex;
        height: 22px;
      }
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include narrow {
      margin: 10px 0;
    }
    li {
      margin-right: 40px;
      @include narrow {
        margin-right: 15px;
      }
      &.active a {
        color: $brand-pink;
        border-bottom: 1px solid white;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
