.statement {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 70vh;
  @include narrow {
    padding: 100px 0;
    height: auto;
  }
  .statement-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    top: -20px;
    p {
      color: $brand-blue-light;
    }
    @include narrow {
      padding: 100px 0;
    }
  }
}

.project-statement {
  height: 70vh;
  position: relative;
  @include narrow {
    height: auto;
    padding: 60px 20px !important;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: -10%;
  }
  h2 {
    width: 70vw;
    @include narrow {
      width: 100%;
    }
  }
  p {
    color: $brand-blue-light;
  }
  .project-image {
    position: absolute;
    right: 0;
    bottom: -200px;
    width: 60vw;
    @include narrow {
      bottom: -100px;
      width: 70vw;
    }
  }
}
