.statement {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 70vh;
  @include narrow {
    padding: 100px 0;
    height: auto;
  }
  .statement-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    top: -20px;
    p {
      color: $brand-blue-light;
    }
    @include narrow {
      padding: 100px 0;
    }
  }
}

.project-statement {
  position: relative;
  height: 100vh;
  @include narrow {
    height: auto;
    padding: 60px 20px !important;
  }
  .statement-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: -10%;
    z-index: 2;
  }
  h2 {
    width: 70vw;

    @include narrow {
      width: 100%;
    }
  }
  p {
    color: $brand-blue-light;
  }
  .project-image {
    position: absolute;
    &.jamie-redknapp {
      right: -40px;
      bottom: 0px;
      width: 45vw;
      @include desktop {
        width: 38vw;
      }
      @include mobile {
        width: 60vw;
      }
    }
    &.qiktionary {
      right: 0;
      bottom: -200px;
      width: 60vw;
      @include desktop {
        bottom: -220px;
      }
      @include mobile {
        bottom: -150px;
        width: 90vw;
      }
      @include narrow {
        bottom: -120px;
        width: 70vw;
      }
    }
    &.disney {
      right: 10px;
      bottom: 0px;
      width: 80vw;
      @include desktop {
        width: 60vw;
      }
      @include mobile {
        width: 80vw;
      }
      @include narrow {
        width: 60vw;
      }
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}
