.team {
  @include narrow {
    padding-top: 20px;
  }
  ul {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 0;
    @include narrow {
      flex-wrap: wrap;
    }
    li {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-end;
      flex: 1 0 calc(25% - 20px);
      background-color: darken($brand-blue, 10);
      overflow: hidden;
      margin: 10px 10px 10px;
      border-radius: 2px;
      overflow: hidden;
      min-height: 250px;
      padding: 20px;
      @include narrow {
        flex: 1 0 calc(50% - 20px);
        padding: 10px 10px 8px 10px;
      }
      &.james {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75) 100%),
          url("/img/team-james.png") no-repeat center center;
        background-size: cover;
      }
      &.eric {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75) 100%),
          url("/img/team-eric.png") no-repeat center center;
        background-size: cover;
      }
      &.dan {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75) 100%),
          url("/img/team-dan.png") no-repeat center center;
        background-size: cover;
      }
      &.matt {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.75) 100%),
          url("/img/team-matt.png") no-repeat center center;
        background-size: cover;
      }
      p {
        @include narrow {
          font-size: 1.2rem;
        }
        &:first-child {
          font-size: 1.3rem;
          font-family: $title-font;
          font-weight: 700;
          color: $brand-pink;
        }
      }
    }
  }
}
