.testimonials {
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 70vh;
  @include narrow {
    min-height: 70vh;
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .container {
    position: relative;
    top: -20px;
    p {
      color: $brand-blue-light;
    }
  }
  .nav-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    a {
      &:first-child {
        margin-bottom: -3px;
      }
    }
    .right .arrow {
      margin-left: 0px;
    }
    .left .arrow {
      margin-right: 0px;
    }
  }
}
