//global variables
$brand-blue: #2f3b40;
$brand-pink: #f53170;
$brand-blue-light: #7998a6;
$background: #f9f9f9;

// fonts
$title-font: "Montserrat", "Helvetica Neue", sans-serif;
// $body-font: "Roboto", "Helvetica Neue", sans-serif;
$body-font: "Roboto", "Helvetica Neue", sans-serif;

// screen sizes
$desktop: 1024px;
$tablet: 991px;
$mobile: 768px;
$narrow: 425px;
$super-narrow: 320px;
